[submodule "dircolors-solarized"]
	path = dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized
[submodule ".urxvt/urxvt-perls"]
	path = .urxvt/urxvt-perls
	url = https://github.com/muennich/urxvt-perls
[submodule ".urxvt/urxvt-font-size"]
	path = .urxvt/urxvt-font-size
	url = https://github.com/majutsushi/urxvt-font-size.git
[submodule "fonts"]
	path = fonts
	url = https://github.com/powerline/fonts.git
