URxvt*scrollBar: false
URxvt*scrollBar_right: false
URxvt*cursorBlink: true

URxvt*font:xft:Inconsolata:pixelsize=24:antialias=true:hinting=true,xft:Sans:pixelsize=24:antialias=true:hinting=true,xft:Inconsolata for Powerline:pixelsize=24:antialias=true:hinting=true
URxvt*boldFont:xft:Inconsolata:pixelsize=24:antialias=true:hinting=true,xft:Sans:pixelsize=24:antialias=true:hinting=true,xft:Inconsolata for Powerline:pixelsize=24:antialias=true:hinting=true

URxvt.perl-ext-common: default,clipboard-osc
! Remove the support for ISO-14755 - standard for entering and viewing unicode 
! characters and characters code using the keyboard.
! Bascially disabling it removes the Control-Shift mappings.
URxvt.iso14755: false
URxvt.iso14755_52: false
! do not scroll with output
URxvt*scrollTtyOutput: false
! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollWithBuffer: true
! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress: true
! be a login shell
URxvt*loginShell: true

! Arrow keys to move by word forward and backward
URxvt.keysym.Control-Up:    \033[1;5A
URxvt.keysym.Control-Down:  \033[1;5B
URxvt.keysym.Control-Left:  \033[1;5D
URxvt.keysym.Control-Right: \033[1;5C

! Yeahconsole setup
yeahconsole*term: urxvt
yeahconsole*consoleHeight: 20
yeahconsole*toggleKey: None+F12
yeahconsole*keyFull: None+F11
yeahconsole*aniDelay: 1
yeahconsole*stepSize: 20

! Solarized color scheme for the X Window System
!
! http://ethanschoonover.com/solarized


! Common

#define S_yellow        #b58900
#define S_orange        #cb4b16
#define S_red           #dc322f
#define S_magenta       #d33682
#define S_violet        #6c71c4
#define S_blue          #268bd2
#define S_cyan          #2aa198
#define S_green         #859900


! Dark

#define S_base03        #002b36
#define S_base02        #073642
#define S_base01        #586e75
#define S_base00        #657b83
#define S_base0         #839496
#define S_base1         #93a1a1
#define S_base2         #eee8d5
#define S_base3         #fdf6e3


! Light

! #define S_base03        #fdf6e3
! #define S_base02        #eee8d5
! #define S_base01        #93a1a1
! #define S_base00        #839496
! #define S_base0         #657b83
! #define S_base1         #586e75
! #define S_base2         #073642
! #define S_base3         #002b36


! To only apply colors to your terminal, for example, prefix
! the color assignment statement with its name. Example:
!
! URxvt*background:            S_base03

*background:              S_base03
*foreground:              S_base0
*fading:                  40
*fadeColor:               S_base03
*cursorColor:             S_base1
*pointerColorBackground:  S_base01
*pointerColorForeground:  S_base1

*color0:                  S_base02
*color1:                  S_red
*color2:                  S_green
*color3:                  S_yellow
*color4:                  S_blue
*color5:                  S_magenta
*color6:                  S_cyan
*color7:                  S_base2
*color8:                  S_base03
*color9:                  S_orange
*color10:                 S_base01
*color11:                 S_base00
*color12:                 S_base0
*color13:                 S_violet
*color14:                 S_base1
*color15:                 S_base3
